{{!-- Hide this until the user clicks on an earthquake --}}
{{#if eq}}
<div class="card text-white bg-primary mb-3">
    <div>
        <div class="eq-heading">Earthquake Data</div>
        <div> USGS ID: {{ eq.__OBJECTID }} </div>
        <div> Magnitude: {{ eq.mag }} </div>
        <div> Place: {{ eq.place }} </div>
        <div> Time: {{ format_ts_date eq.time }} </div>
        <div> Caused Tsuanmi: {{ eq.tsunami }} </div>
    </div>
</div>
{{/if}}

<div class="card text-white bg-primary mb-3">
    <div class="eq-heading">Experiences</div>
    {{#each experiences as |experience| }}
    <div> User ID: {{experience.user_id}} on {{ experience.created_at}}</div>
    <div> Did you feel it: {{experience.feel_it}} </div>
    <div> Experience: {{experience.description}} </div>
    <br>
    {{/each}}
</div>

{{!-- Hide this until the user logs in and clicks on an earthquake --}}
{{#if logged_in}}
<div class="card text-white bg-primary mb-3">
    <div class="eq-heading">Add New Experience</div>
    <div class="card-body new-experience-form">
        <form>
            <label for="FormControlSelect">Did you feel it?</label>
            <select class="form-control" id="experience-feel">
                <option>Yes</option>
                <option>No</option>
            </select>
            <label for="FormControlTextarea1">Description: </label>
            <textarea class="form-control" id="experience-desc" rows="3"></textarea>
            <div class="col text-center">
                <br>
                <button type="submit" class="btn btn-dark text-center">Submit</button>
            </div>
        </form>
    </div>
</div>
<script src="./js/experience.js"></script>
{{/if }}
